.mdlink a {
  text-decoration: none;
}

.mdlink a:link,
.mdlink a:visited,
.mdlink a:hover {
  color: #d30;
}

.mdlink a:hover {
  text-decoration: underline;
}

.blockquote {
  font-style: italic;
  margin: 0.3em;
  font-weight: bold;
}
