.hide {
  opacity: 0;
}

.show {
  display: block;
  animation-name: fadeIn;
  animation-duration: 0.1s;
}

@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}