.hide {
  opacity: 0;
  z-index: -1;
}

.show {
  display: block;
}

.rotate {
  animation: rotation 0.7s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
